.contact-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

/* CONTACT BACKGROUND EFFECT */

.contact-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/contactBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: 0;
}

.contact-section > * {
  position: relative;
  z-index: 1;
}

/* === CONTACT BACKGROUND EFFECT === */

.contact-section-title {
  text-align: left;
}

.contact-section-starter {
  display: flex;
  cursor: default;
}

.contact-title {
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 0;
  margin-top: 0;
  cursor: default;
}

.contact-hr {
  border: 2px solid #0033cce1;
  border-radius: 5px;
  width: 5rem;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 1rem;
}

.contact-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact-box {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
}

.contact-box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-box-text h3 {
  text-align: left;
  color: #0033cc;
  margin: 0 0 0.2rem 0;
  font-size: 0.95rem;
}

.contact-box-text p {
  text-align: left;
  margin: 0;
  font-size: 0.8rem;
  color: #8899aa;
}

.contact-box-icon {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 5px;
}
