.projects-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-section::before {
  content: "";

  position: absolute;
  inset: 0;

  background-image: url("/projectsBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(2px);

  z-index: 0;
}

.projects-section > * {
  position: relative;
  z-index: 1;
}

.projects-hr {
  border: 2px solid #0033cce1;
  border-radius: 5px;

  width: 5rem;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projects-section-starter {
  margin-top: 4rem;
  text-align: left;
}
