@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

header {
  background: rgba(255, 255, 255, 0.015);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /*this is for safari support*/
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  height: 3.4rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  flex: 1;
}

nav h2 {
  padding: 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

ul {
  display: flex;
  list-style: none;
  padding: 0 2rem;
  gap: 1.2rem;
  justify-content: flex-end;
}

nav ul a {
  text-decoration: none;
  color: white;
}

nav ul a:hover {
  color: rgb(210, 234, 255);
}
